[submodule "mkt-node"]
	path = mkt-node
	url = https://github.com/ljcl79/alura-microservicios-mkt-node.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/ljcl79/alura-microservicios-front-end.git
[submodule "financiero-php"]
	path = financiero-php
	url = https://github.com/ljcl79/alura-microservicios-financiero-php.git
[submodule "academico-php"]
	path = academico-php
	url = https://github.com/ljcl79/alura-microservicios-academico-php.git
[submodule "academico-php-web"]
	path = academico-php-web
	url = https://github.com/ljcl79/alura-microservicios-academico-php-web.git
